* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    $size: 15rem;
    height: $size;
    width: $size ;
    border-radius: 4px;
    background: yellow;
    cursor: pointer;
    text-align: center ;
    line-height: $size;
    font-size: 2rem;
    color: white ;
}